@{
    ViewBag.Title = "Save The Date";
}

<div class="jumbotron">
    <h1> Save The Date</h1>
    <p class="lead">Essa pagina web é destinada a eventos UTFPR</p>
</div>

<div class="row">
    <div class="col-md4">
        <h2>Início</h2>
        <p> Pagina inicial da aplicação</p>
    </div>
</div>